/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-weight: 400;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
  color: var(--filltitle-bg-color);
}

.accent-title {
  color: var(--filltitle-font-color);
  background-color: var(--filltitle-bg-color);
  font-weight: 700;
  font-size: 18px;
}

.header__logo {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  gap: 2px;
  text-transform: uppercase;
  line-height: 139%;
}

.header__logo::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--filltitle-bg-color);
  background-color: var(--filltitle-bg-color);
  align-self: center;
  margin: 9px;
}

.decorated-zone::before {
  position: absolute;
  right: 10px;
  top: 10px;
  content: "";
  display: block;
  justify-self: end;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--sectiontitle-font-color);
  border-right: 1px solid var(--sectiontitle-font-color);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--sectiontitle-font-color);
  border-inline-start: 1px solid var(--sectiontitle-font-color);
  align-self: end;
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  grid-row: 1;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  padding: 1.5px 9px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  line-height: 100%;
  text-transform: lowercase;
  color: var(--sectiontitle-font-color);
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--border-hover-color);
}

.header__theme-menu-item:has(:focus) {
  border-bottom: 1px solid var(--sectiontitle-font-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  outline: 1px solid var(--sectiontitle-font-color);
}

.theme-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--filltitle-bg-color);
  color: var(--maintitle-font-color);
}

.header__title {
  grid-row: 2;
}

.header__content {
  grid-row: 3;
  align-self: center;
  line-height: 130%;
}

.article {
  display: grid;
  gap: 20px;
}

.article-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--sectiontitle-font-color);
}

.main {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  margin-block-start: 40px;
  margin-block-end: 40px;
  line-height: 130%;
  display: grid;
  gap: 50px;
}

.main__why {
  display: grid;
  gap: 20px;
}

.main__content {
  margin-block-start: 10px;
}

.link {
  text-shadow: 2px 2px 0 var(--filltitle-bg-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--font-color);
  cursor: pointer;
}

.link:focus {
  outline: 1px solid var(--font-color);
}

.link:focus-visible {
  outline: 1px solid var(--font-color);
}

.main__what {
  display: grid;
  gap: 20px;
}

.main__how {
  display: grid;
  gap: 20px;
}

.advice {
  font-weight: 400;
}

.gallery__image {
  width: 100%;
}

.main__gallery {
  display: grid;
  gap: 10px;
}

.footer {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

.footer .theme-title {
  text-shadow: 2px 2px 0 var(--filltitle-bg-color);
}

@media (width >=768px) {

  .header {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    min-block-size: 1024px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__title {
    grid-row: 2;
    grid-column: 1 / span 2;
    margin-inline-start: -20px;
  }

  .header__logo {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .theme-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__content {
    grid-column: 2;
  }

  .main {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    margin-block-start: 60px;
    margin-block-end: 60px;
    gap: 80px;
  }

  .main__why {
    grid-template-columns: 1fr 2fr;
  }

  .main__what {
    grid-template-columns: 1fr 2fr;
  }

  .main__what .article-title {
    grid-column: 1;
  }

  .main__what .article {
    grid-column: 1 / span 3;
  }

  .main__how {
    grid-template-columns: 1fr 2fr;
  }

  .main__how .article {
    grid-column: 2;
  }

  .main__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 25vw calc(23000vw / 768) calc(31800vw / 768);
    gap: 20px;
  }

  .main__gallery .accent-title {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .gallery__image {
    object-fit: cover;
    object-position: center;
    height: 100%;
  }

  .gallery__image:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .gallery__image:nth-child(3) {
    grid-column: 3;
    grid-row: 2 / span 2;
  }

  .gallery__image:nth-child(4) {
    grid-column: 1;
    grid-row: 3 / span 2;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery__image:nth-child(6) {
    grid-column: 2 / span 2;
    grid-row: 4;
  }

  .footer {
    padding: 20px;
    min-block-size: 1024px;
  }
}

@media (width >=1024px) {

  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: baseline;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 12px;
  }

  .header__theme-menu-item {
    padding: 0 8.5px;
  }

  .main__why .article-title {
    grid-column: 1;
  }

  .main__why .article {
    grid-column: 2 / span 2;
  }

  .main__what {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main__what .article {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / span 3;
  }

  .main__how {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .main__how .article {
    grid-column: 2 / span 2;
  }

  .main__gallery {
    grid-template-rows: min-content calc(26000vw / 1024) calc(31500vw / 1024) calc(
        43300vw / 1024
      );
  }

  .footer {
    min-block-size: 768px;
  }

  .footer .theme-title {
    text-shadow: 2px 2px 0 #ff0070;
  }
}
