/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --font-color: #f1b2ce;
  --maintitle-font-color: #db00ff;
  --filltitle-font-color: #000028;
  --filltitle-bg-color: #ff0070;
  --sectiontitle-font-color: #ff0070;
  --border-hover-color: rgba(255, 0, 112, 0.4);
}
